.quiz-answer {
    list-style: none;
    border: 1px solid;
    padding: 20px 10px;
    border-radius: 10px;

}

.quiz-container {
    padding: 12px 36px;
    display: flex;
    flex-direction: column;
}

.answer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.question-next {
    padding: 10px;
    background-color: rgb(34, 35, 116);
    border-radius: 8px;
    margin-left: auto;
    color: white;
}

.question-prev {
    padding: 10px;
    background-color: rgb(34, 35, 116);
    border-radius: 8px;
    margin-right: auto;
    color: white;
}

a {
    text-decoration: none;
}

.submit-button{
    width: 100%;
    background-color: green ;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;

}

.head-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}