body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.content {
    padding: 20px;
}
.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-container input, .form-container button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}

.baseline{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.baseline a {
    color: #333;
}

.error{
    font-size: small;
    color: red;
    text-align: center;
}