{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
<form method="post">
   {% csrf_token %}
    <div id="login" class="content">
        <div class="form-container">
            <h1>
                Register your account
            </h1>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name='email' placeholder="Email Address" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button>Sign Up</button>
        </div>
    </div>

    <script>
    </script>
</form>
</html>