{% extends 'layout.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}


{% block quiz %}
<section class="quiz-container">

    <div>
        <h1>{{data.data.question.question}}</h1>
    </div>
    <div>
        <ul class="answer-container">
            {% for answer in data.data.answers %}
            <li class="quiz-answer">{{answer.text}}</li>
            {% endfor %}
        </ul>
    </div>



    <section class="button-container">

        {% if prevQuestionId %}
        <a href="{% url 'quiz_question'  subject_id=subject_id question_id=prevQuestionId %}"
            class="question-prev">Previous Question</a>
        {% endif %}

        {% if nextQuestionId %}
        <a href="{% url 'quiz_question' subject_id=subject_id question_id=nextQuestionId %}"
            class="question-next">Next Question</a>
        {% endif %}

    </section>
</section>
{% endblock %}